* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    height: 90vh;
    width: 100%;
}

.header {
    font-size: 4rem;
    color: #fff;
    margin: 3rem 0 2rem 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 43rem;
    max-width: 70%;
    width: 50%;
    border: none;

    .sub-container {
        display: inline-block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column; 
        min-height: 42rem;
        width: 100%;
        border: none;
        outline: none;
        // border: 6px solid rgb(15, 156, 15);

        .imagesDiv {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            // height: 40rem;
            border: 6px solid rgb(15, 156, 15);
        }

        .name {
            position: absolute;
            top: 85%;
            font-size: 1.2rem;
            color: #fff;
            background-color: #000;
            padding: .4rem;
            border-radius: 5px;
            z-index: 10;
        }

        .btn-left {
            left: -2.2rem; 
        }

        .btn-right {
            right: -2.2rem;
        }

        .btn {
            position: absolute;
            top: 43%;
            width: 3.5rem;
            height: 5.5rem;
            font-size: 3.5rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: #fff;
                background-color: rgb(15, 156, 15);
                border-radius: 5px;
                &:hover {
                  background-color: #fff;
                  color: rgb(15, 156, 15);
                }
            }
        }  
    }
}

@media (min-width: 320px) {
    .header {
        font-size: 2rem;
    }
    
    .container {
        min-height: 28rem;
        width: 90%;

        .sub-container {
            min-height: 25rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .imagesDiv {
                height: 15rem;
            }

            .name {
                top: 47%;
                font-size: 1rem;
                margin-left: 1rem;
            }

            .btn-left {
                left: -.8rem; 
            }
    
            .btn-right {
                right: -.8rem;
            }

            .btn {
                top: 22%;
                width: 2rem;
                height: 3rem;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 414px) {
    .header {
        font-size: 2.2rem;
    }

    .container {
        min-height: 32rem;
        width: 90%;

        .sub-container {
            min-height: 27rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .imagesDiv {
                height: 19rem;
            }

            .name {
                top: 59%;
                font-size: 1.2rem;
                margin-left: 1.4rem;
            }

            .btn-left {
                left: -.9rem; 
            }
    
            .btn-right {
                right: -.9rem;
            }

            .btn {
                top: 28%;
                width: 2.2rem;
                height: 3.2rem;
                font-size: 2.2rem;
            }
        }
    }
}

@media (min-width: 600px) {
    .header {
        font-size: 2.5rem;
    }

    .container {
        min-height: 35rem;
        width: 90%;

        .sub-container {
            min-height: 30rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .imagesDiv {
                height: 27rem;
            }

            .name {
                top: 77%;
                font-size: 1.4rem;
                margin-left: 1.6rem;
            }

            .btn-left {
                left: -1.2rem; 
            }
    
            .btn-right {
                right: -1.2rem;
            }

            .btn {
                top: 38%;
                width: 2.7rem;
                height: 3.7rem;
                font-size: 2.5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        font-size: 2.8rem;
    }

    .container {
        min-height: 40rem;
        width: 90%;

        .sub-container {
            min-height: 37rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .imagesDiv {
                height: 35rem;
            }

            .name {
                top: 83%;
                font-size: 1.6rem;
                margin-left: 1.8rem;
            }

            .btn-left {
                left: -1.7rem; 
            }
    
            .btn-right {
                right: -1.7rem;
            }

            .btn {
                top: 43%;
                width: 4rem;
                height: 5rem;
                font-size: 3.5rem;
            }
        }
    }
}

@media (min-width: 1280px) {
    .header {
        font-size: 3rem;
    }

    .container {
        min-height: 60rem;
        width: 90%;

        .sub-container {
            min-height: 58rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .imagesDiv {
                height: 57rem;
            }

            .name {
                top: 90%;
                font-size: 1.8rem;
                margin-left: 2.2rem;
            }

            .btn-left {
                left: -1.9rem; 
            }
    
            .btn-right {
                right: -1.9rem;
            }

            .btn {
                top: 45%;
                width: 4rem;
                height: 5rem;
                font-size: 3.5rem;
            }
        }
    }
}